.square {
	margin: 1px 1px;
	padding: 0;
	float: left;
	background-color: rgb(172, 80, 190);
	/*display: inline-block;*/
}

.square:hover {
	background-color: rgb(122, 30, 140);
}

.row {
	margin: 0;
	padding: 0;
	clear: left;
}

#container {
	width: 300px;
	height: 300px;
	margin: 10px auto;
}

/*.hovered {
	background-color: rgb(122, 30, 140);
}*/
