.square {
	margin: 1px 1px;
	padding: 0;
	float: left;
	background-color: white;
	border: 1px solid black;
	/*display: inline-block;*/
}

/*.square:hover {
	background-color: rgb(122, 30, 140);
}*/

.row {
	margin: 0;
	padding: 0;
	clear: left;
}

#container {
	width: 400px;
	height: 400px;
	margin: 10px auto;
}

/*.hovered {
	background-color: rgb(122, 30, 140);
}*/
